In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect(":memory:")
cur = con.cursor()

In [3]:
link = 'https://raw.githubusercontent.com/plotly/datasets/master/dash-sample-apps/dash-web-trader/data/EURUSD.csv'

In [4]:
data = pd.read_csv(link)

In [5]:
data.head()

   Symbol                     Date      Bid      Ask
0  EURUSD  2016-01-04 18:00:40.420  1.08196  1.08200
1  EURUSD  2016-01-04 18:00:40.442  1.08194  1.08200
2  EURUSD  2016-01-04 18:00:40.528  1.08196  1.08200
3  EURUSD  2016-01-04 18:00:40.554  1.08194  1.08200
4  EURUSD  2016-01-04 18:00:40.651  1.08194  1.08198

In [6]:
data.to_sql("data", con, index=False, if_exists="replace")

In [7]:
pd.read_sql(
    """
    SELECT * FROM data
    limit 5
    """,
    con,
)

   Symbol                     Date      Bid      Ask
0  EURUSD  2016-01-04 18:00:40.420  1.08196  1.08200
1  EURUSD  2016-01-04 18:00:40.442  1.08194  1.08200
2  EURUSD  2016-01-04 18:00:40.528  1.08196  1.08200
3  EURUSD  2016-01-04 18:00:40.554  1.08194  1.08200
4  EURUSD  2016-01-04 18:00:40.651  1.08194  1.08198

предыдущее значение
дельта с предыдущим (2,3,4)
% изменения
рост или падение

разница между bid и ask
разница значений на начало минуты, на конец + максимум минимум за минуту (промежуток времени)

значение на начало минуты, на конец + максимум минимум за минуту (промежуток времени)
день недели
сезон года
праздники
график работы биржи

рабочее/нерабочее время (9-18)
время суток